.projectsSection {
    background-color: var(--background);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projectsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 24px;
}

@media screen and (max-width: 500px) {
    .projectsList {
        grid-template-columns: repeat(1, 1fr);
    }
}