:root {
  --background-light: hsl(0, 0%, 100%);
  --background: hsl(0, 0%, 95%);
  --background-dark: hsl(0, 0%, 90%);

  --main-text: hsl(0, 0%, 0%);
  --secondary-text: hsl(0, 0%, 20%);
}

@media (prefers-color-scheme: dark) {
  /*:root {
    --background-light: hsl(0, 0%, 20%);
    --background: hsl(0, 0%, 10%);
    --background-dark: hsl(0, 0%, 0%);

    --main-text: hsl(0, 0%, 100%);
    --secondary-text: hsl(0, 0%, 90%);
  }*/
}

html,
body {
  max-width: 100vw;
  width: 100vw;
}

body {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 20px;
  font-size: 16px;

  color: var(--main-text);
  background-color: var(--background-dark);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  color: var(--main-text);
}

h1 {
  font-size: 28px;
  font-weight: 800;
  margin: 0;
}

h2 {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

p {
  color: var(--secondary-text);
  margin: 0;
}

a, label {
  color: var(--main-text);
  font-weight: 500;
  text-decoration: inherit;
}

button {
  background: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 5px;
  padding-inline: 16px;
  padding-block: 10px;
  border-width: 0;
  transition: 1.5s;
}

button:hover {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
