:root {
  --background-light: hsl(0, 0%, 100%);
  --background: hsl(0, 0%, 95%);
  --background-dark: hsl(0, 0%, 90%);

  --main-text: hsl(0, 0%, 0%);
  --secondary-text: hsl(0, 0%, 20%);
}

@media (prefers-color-scheme: dark) {
  /*:root {
    --background-light: hsl(0, 0%, 20%);
    --background: hsl(0, 0%, 10%);
    --background-dark: hsl(0, 0%, 0%);

    --main-text: hsl(0, 0%, 100%);
    --secondary-text: hsl(0, 0%, 90%);
  }*/
}

html,
body {
  max-width: 100vw;
  width: 100vw;
}

body {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 20px;

  color: var(--main-text);
  background-color: var(--background-dark);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
