.navigationBar {
  width: 100%;
  padding-block: 20px;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.navigationBar a {
  font-weight: bold;
}
