.projectCard {
    background-color: var(--background-light);
    border: 2px solid hsl(0, 0%, 80%);
    border-radius: 14px;
    transition: 1.5s;
}

.projectCard:hover {
    cursor: pointer;
    transform: translateY(-10px);
}

.projectCard img {
    width: 100%;
    height: 60%;
    border-radius: 12px 12px 0 0;
}

.projectInformation {
    height: 32%;
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.texts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 8px;
}

@media screen and (max-width: 1000px) {
    .projectInformation {
        height: 30%;
        overflow-y: auto;
    }
}