.heroSection {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 120px;
}

.titleDiv {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-width: 0 0 0 2px;
    border-style: solid;
    border-color: var(--secondary-text);
    padding-left: 20px;
}

.imageDiv {
    width: 100%;
}

.projectsCta {
    display: inline-block;
    width: fit-content;
    padding: 10px 16px;
    background: var(--main-text);
    color: var(--background-dark);
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.projectsCta:hover {
    opacity: 0.8;
}

@media screen and (max-width: 500px) {
    .heroSection {
        flex-direction: column;
        margin-top: 0;
        padding: 0;
    }
}
